$colorbg: #191919;   //Get from color0
$colortext: white; //Get from color4
$color0: #8C66FF;
$color1: white;
$color2: white;
$color3: white;
$color4: white;
$color5: white;
$color6: white;
$color7: white; //Get from color4 (border)
$colormusic: white;